// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-image: url('app\assets\images\ioann-mark-kuznietsov-F_cHIM0Kcy4-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }